In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('moviereviews.tsv',sep='\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
len(df)

2000

In [7]:
print(df.review[2])

this has been an extraordinary year for australian films .
 " shine " has just scooped the pool at the australian film institute awards , picking up best film , best actor , best director etc . to that we can add the gritty " life " ( the anguish , courage and friendship of a group of male prisoners in the hiv-positive section of a jail ) and " love and other catastrophes " ( a low budget gem about straight and gay love on and near a university campus ) .
i can't recall a year in which such a rich and varied celluloid library was unleashed from australia .
 " shine " was one bookend .
stand by for the other one : " dead heart " .
>from the opening credits the theme of division is established .
the cast credits have clear and distinct lines separating their first and last names .
bryan | brown .
in a desert settlement , hundreds of kilometres from the nearest town , there is an uneasy calm between the local aboriginals and the handful of white settlers who live nearby .
the local police officer has the task of enforcing " white man's justice " to the aboriginals .
these are people with a proud 40 , 000 year heritage behind them .
naturally , this includes their own system of justice ; key to which is " payback " .
an eye for an eye .
revenge .
usually extracted by the spearing through of the recipient's thigh .
brown , as the officer , manages quite well to keep the balance .
he admits that he has to 'bend the rules' a bit , including actively encouraging at least one brutal " payback " .
 ( be warned that this scene , near the start , is not for the squeamish ) .
the local priest - an aboriginal , but in the " white fellas " church - has a foot on either side of the line .
he is , figuratively and literally , in both camps .
ernie dingo brings a great deal of understanding to this role as the man in the middle .
he is part churchman and part politician .
however the tension , like the heat , flies and dust , is always there .
whilst her husband - the local teacher - is in church , white lady kate ( milliken ) and her aborginal friend tony , ( pedersen ) have gone off into the hills .
he takes her to a sacred site , even today strictly men-only .
she appears to not know this .
tony tells her that this is a special place , an initiation place .
he then makes love to her , surrounded by ancient rock art .
the community finds out about this sacrilegious act and it's payback time .
the fuse is lit and the brittle inter-racial peace is shattered .
everyone is affected in the fall out .
to say more is to give away the details of this finely crafted film .
suffice to say it's a rewarding experience .
bryan brown , acting and co-producing , is the pivotal character .
his officer is real , human and therefore flawed .
brown comments that he expects audiences to feel warmth towards the man , then suddenly feel angry about him .
it wasn't long ago that i visited central australia - ayers rock ( uluru ) and alice springs - for the first time .
the wide-screen cinematography shows the dead heart of australia in a way that captures it's vicious beauty , but never deteriorates into a moving slide show , in which the gorgeous background dominates those pesky actors in the foreground .
the cultural clash has provided the thesis for many a film ; from the western to the birdcage .
at least three excellent australian films have covered the aboriginal people and the line between them and we anglo-saxon 'invaders' : " jedda " , " the chant of jimmie blacksmith " and " the last wave " .
in a year when the race 'debate' has reared up in australia , it is nourishing to see such an intelligent , non-judgemental film as " dead heart " .
the aboriginal priest best sums this up .
he is asked to say if he is a " black fella or white fella " .

In [8]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [11]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [12]:
len(df)

1965

In [13]:
blanks = []
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [14]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [15]:
df.drop(blanks,inplace=True)

In [16]:
len(df)

1938

In [19]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [20]:
X=df['review']
y=df['label']

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=100)

In [23]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [24]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [25]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [26]:
predictions=text_clf.predict(X_test)

In [27]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [28]:
print(confusion_matrix(y_test,predictions))

[[246  48]
 [ 40 248]]

In [29]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.86      0.84      0.85       294
         pos       0.84      0.86      0.85       288

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [30]:
print(accuracy_score(y_test,predictions))

0.8487972508591065